.header{
    margin-top: 45px;
}
@media screen and (max-width: 480px) {
    .header {
      padding-top: 28px;
      padding-bottom: 32px;
      max-width: 100%;
    }
  
    .header__logo {
      max-width: 126px;
      padding-left: 27px;
    }
  }