.header {
  margin-top: 45px;
  padding-top: 45px;
  padding-bottom: 40px;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid;
  border-color:rgba(84,84,84, 0.7);
}
.header__logo {
  width: 173px;
  height: 33px;
  color: white;
}
@media screen and (max-width: 480px) {
  .header {
    padding-top: 28px;
    padding-bottom: 32px;
  }

  .header__logo {
    max-width: 126px;
    padding-left: 27px;
    width: 126px;
  }
}
